<div class="container mt-4">
  <div class="row animated slideInLeft">
    <div class="col">
      <p class="h3 text-success">Free Events</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque cupiditate, doloremque dolorum eos eveniet exercitationem hic illo iusto magnam maiores molestiae nemo officiis quidem sequi similique vel veritatis vitae.</p>
      <p class="lead">Available Events :
        <span class="font-weight-bold text-success">{{events.length}}</span>
      </p>
    </div>
  </div>
  <div class="row mt-3 animated slideInUp delay-1s">
    <div class="col">
      <div *ngFor="let event of events" class="card my-4">
        <img [src]="event.image" class="img-fluid card-img card-img-top" alt="">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p class="h3">{{event.name}}</p>
              <p class="h5">{{event.date}}</p>
            </div>
            <div class="col">
              <a routerLink="/" class="btn btn-success btn-sm">BOOK NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
