<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Change Password</h3>
          <h3 class="text-center small">[(ngModel)]</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="input-group">
              <input [type]="inputType" aria-label="Text" class="form-control">
              <div class="input-group-append">
                <div class="input-group-text">
                  <input type="checkbox" (change)="updateInput()" aria-label="Checkbox">
                  <span class="ml-2">Show Password</span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>



  </div>
</div>


