<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="card mt-3">
        <div class="card-header">
          <h4 class="text-center">I'm From Child (Student Component)</h4>
          <p class="text-center small">@Output, @EventEmitter</p>
        </div>
        <div class="card-body">
          <pre>{{childStudent | json}}</pre>
        </div>
        <div class="card-footer">
          <button (click)="sendToParent()" class="btn btn-sm btn-success">Send to Parent</button>
          <p>@Output, @EventEmitter</p>
        </div>
      </div>
    </div>
  </div>
</div>
