<div class="container mt-5">
  <h4 class="text-center">INTERPOLATION</h4>
  <p class="text-center small">Inner text will be dynamic</p>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header p-0">
          <img src="{{img}}" alt="logo" class="img-fluid">
        </div>
        <div class="card-body">
          <p class="small rgba-blue-grey-light p-2 rounded">Interpolation</p>
          <h4 class="card-title">{{title}}</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus eligendi non quas sint. Dolores eaque maxime nesciunt odio possimus quasi vel, voluptatum. Ad dicta dolores itaque minus natus temporibus.
          </p>
          <p class="card-text">{{Time()}}</p>
          <button class="btn btn-sm btn-cyan">Read More</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="border-light text-center">Digital Clock</h4>
          <p class="small text-center">Interpolation</p>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{clock}}</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus eligendi non quas sint. Dolores eaque maxime nesciunt odio possimus quasi vel, voluptatum. Ad dicta dolores itaque minus natus temporibus.
          </p>
          <h2 >{{displayCTime()}}</h2>
          <button class="btn btn-sm btn-cyan">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>
