<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="h3">Welcome to Angular Form validations</p>
      <hr>
      <p class="lead small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cupiditate ea explicabo facilis hic impedit iusto, laboriosam odit, officia pariatur quia, quibusdam quidem quos! Consequuntur explicabo numquam provident veniam? Autem.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item">
          <p class="h4">
            <a routerLink="/enroll" class="card-link">1. Template Driven Form - Enroll</a>
          </p>
          <p class="lead small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, soluta.</p>
          <p class="lead ">Template Driven Forms</p>
          <ul class="list-group small">
            <li class="list-group-item">
              - Huge code in Template, Less code .TS
            </li>
            <li class="list-group-item">
              - Simple Validations
            </li>
            <li class="list-group-item">
              - Hard to test
            </li>
            <li class="list-group-item">
              - Forms Module
            </li>
          </ul>
        </li>
        <li class="list-group-item">
          <p class="h4">
            <a routerLink="/register" class="card-link">2. Reactive Forms Validation - Register</a>
          </p>
          <p class="lead small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa eveniet, ipsum iste nesciunt officia quam. Ad adipisci aliquam asperiores at maxime, necessitatibus nobis quas qui reiciendis repellat sapiente vero voluptatem voluptatibus. Ab culpa error eum numquam pariatur sequi veniam?</p>
          <p class="lead ">Reactive Forms Validations</p>
          <ul class="list-group small">
            <li class="list-group-item">
              - Huge code in .TS, Less code Template
            </li>
            <li class="list-group-item">
              - Complex Validations
            </li>
            <li class="list-group-item">
              - Easy to test
            </li>
            <li class="list-group-item">
              - Reactive Forms module
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
