<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="h3 text-success">Create New Product</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus labore quos repudiandae ullam veniam? Accusamus aperiam autem cum debitis, deserunt dolores iure laboriosam nam quae sequi? Aspernatur beatae et unde.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header bg-success text-white">
          <p class="h4 text-center">Create Product</p>
        </div>
        <div class="card-body">
          <form (submit)="submitProduct()">
            <div class="form-group">
              <input
                name="name"
                [(ngModel)]="addProduct.name"
                type="text" class="form-control" placeholder="Product Name">
            </div>
            <div class="form-group">
              <div class="custom-file">
                <input
                  (change)="onChangeImage($event)"
                  name="image"
                  type="file" class="custom-file-input" id="imageUpload">
                <label class="custom-file-label" for="imageUpload">Product Image</label>
                <small *ngIf="imageFileName" class="text-success">{{imageFileName?.name}}</small>
              </div>
            </div>
            <div class="form-group">
              <input
                name="price"
                [(ngModel)]="addProduct.price"
                type="number" class="form-control" placeholder="Price">
            </div>
            <div class="form-group">
              <input
                name="qty"
                [(ngModel)]="addProduct.qty"
                type="number" class="form-control" placeholder="Available Qty">
            </div>
            <div class="form-group">
              <textarea
                name="info"
                [(ngModel)]="addProduct.info"
                class="form-control" id="" cols="4" rows="4" placeholder="General Info"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-sm btn-grey" value="Add Product">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
