<nav class="navbar navbar-dark blue-gradient-rgba navbar-expand-sm">
  <a href="/" class="navbar-brand">Angular Forms Bindings</a>
</nav>

<!--change username 2 way manually-->
<app-change-username></app-change-username>

<!--change username 2 way auto-->
<app-change-user-auto></app-change-user-auto>

<!--change Password 2 way auto-->
<app-change-password></app-change-password>

<app-sms-app></app-sms-app>

<app-amount-range></app-amount-range>

<app-theme-selector></app-theme-selector>

<app-register></app-register>

<router-outlet></router-outlet>
