<div class="container mt-5">
  <div class="row animated flipInY delay-1s">
    <div class="col-md-4 m-auto">
      <div *ngIf="errMSG" class="alert alert-danger">
        <button class="close" data-dismiss="alert">
          <i class="fa fa-times-circle"></i>
        </button>
        {{errMSG}}
      </div>
      <div class="card">
        <div class="card-header bg-secondary">
          <p class="h4 text-center">Register Here</p>
        </div>
        <div class="card-body">
          <form (submit)="submitRegister()">
            <div class="form-group">
              <input
                name="name"
                [(ngModel)]="user.name"
                type="text" class="form-control" placeholder="Name*">
            </div>
            <div class="form-group">
              <input
                name="email"
                [(ngModel)]="user.email"
                type="email" class="form-control" placeholder="Email*">
            </div>
            <div class="form-group">
              <input
                name="password"
                [(ngModel)]="user.password"
                type="password" class="form-control" placeholder="Password*">
            </div>
            <div class="form-group p-0">
              <input type="submit" class="btn btn-sm btn-primary" value="Register">
            </div>
          </form>
        </div>
        <div class="card-footer text-center">
          <img src="../../../assets/images/BLACK_PNG.png" class="img-fluid w-50" alt="logo">
        </div>
      </div>
    </div>
  </div>
</div>

