
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary text-white text-center">
          <h4 class="card-title">Github User Search</h4>
        </div>
        <div class="card-body">
          <form class="form-inline" (submit)="searchUser()">
            <div class="form-group">
              <input name="user search" [(ngModel)]="githubQuery" size="40" type="search" class="form-control" placeholder="github user">
            </div>
            <div class="form-group">
              <input type="submit" value="Search" class="btn btn-md btn-success">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-github-profile [gitHubProfile]="gitProfile"></app-github-profile>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-github-repos [gitHubrepos]="gitRepos"></app-github-repos>
    </div>
  </div>
</div>
