<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="h3">Welcome to Angular Authentication</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi assumenda, aut, dignissimos ea enim facere fugiat harum ipsum nemo possimus quam qui quidem rerum sequi sint unde ut velit!</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aut, eveniet explicabo laborum magnam molestias qui sed velit voluptates!</p>
      <a routerLink="/events/free" class="btn btn-sm btn-blue-grey">Free Events</a>
    </div>
  </div>
</div>
