<nav class="navbar navbar-dark blue-gradient-rgba navbar-expand-sm">
  <a routerLink="/" class="navbar-brand">Angular Template Driven Forms</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active px-3">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" routerLink="/enroll">Enroll (TDF)</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" routerLink="/register">Register (RFV)</a>
      </li>
    </ul>
  </div>
</nav>
<!--routing configuration link-->
<router-outlet></router-outlet>

