<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="text-primary h4">Welcome to <span class="font-weight-bold text-danger h3">{{selectedStocks.stock_name}}</span> Details</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cumque dicta eligendi et ipsum maxime modi nostrum, officia placeat quam reiciendis reprehenderit repudiandae saepe. Facere minima mollitia rerum ut voluptatem!</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4>{{selectedStocks.stock_name}}</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="font-weight-bold">ID : </span>
              <span class="badge badge-danger"> {{selectedStocks.id}}</span>

            </li>
            <li class="list-group-item">
              <span class="font-weight-bold">NAME : </span>
              {{selectedStocks.stock_name}}
            </li>
            <li class="list-group-item">
              <span class="font-weight-bold">EMAIL : </span>
              {{selectedStocks.stock_industry}}
            </li>
            <li class="list-group-item">
              <span class="font-weight-bold">GENDER : </span>
              {{selectedStocks.stock_market}}
            </li>
            <li class="list-group-item">
              <span class="font-weight-bold">IP ADDRESS : </span>
              {{selectedStocks.stock_symbol}}
            </li>
            <li class="list-group-item">
              <span class="font-weight-bold">IP ADDRESS : </span>
              {{selectedStocks.stock_sector}}
            </li>
          </ul>
        </div>
        <div class="card-body">
          <button routerLink="/employees" class="btn btn-success btn-sm">Back</button>
          <button routerLink="/" class="btn btn-success btn-sm">Home</button>

        </div>
      </div>
    </div>
  </div>
</div>
