<div class="landing-page">
  <!--it have some overlay color-->
  <div class="wrapper">
    <div class="d-flex flex-column text-center text-white justify-content-center align-items-center h-100">
      <h1><i class="fa fa-shopping-cart"></i> BYPAVANNPK</h1>
      <p class="lead px-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, corporis cupiditate doloribus eaque, est, inventore iusto neque saepe sequi tempore vel voluptatem. Corporis excepturi ipsa magnam nesciunt officiis quas reprehenderit.</p>
    </div>
  </div>
</div>
